<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="red" class="playground.Red">
        <constructor-arg value = "strong" />
    </bean>

    <bean name="blue" class="playground.Blue">
        <constructor-arg ref = "red" />
        <constructor-arg value = "pale" />
    </bean>

    <bean name="green" class="playground.Green">
        <constructor-arg value = "transparent" />
        <property name = "red" ref = "red" />
    </bean>

</beans>