<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="blue" class="playground.spring.ioc.Blue">
        <constructor-arg value = "something" />
        <constructor-arg ref = "red" />
    </bean>

    <bean name="red" class="playground.spring.ioc.Red">
        <constructor-arg value = "something else" />
    </bean>

</beans>