apiVersion: v1
kind: Service
metadata:
  name: example
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 'http'
  selector:
    function: serves-http
    color: yellow
  #sessionAffinity: ClientIP
