<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 Nova Ordis LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>

        <servlet-name>ServletA</servlet-name>

        <servlet-class>io.novaordis.playground.jee.ear.servlet.ServletA</servlet-class>

    </servlet>

    <servlet-mapping>
        <servlet-name>ServletA</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--
         Simple entry that will be injected with:

         @Resource
         private int configurationParameterA;

    -->
    <env-entry>
        <env-entry-name>io.novaordis.playground.jee.ear.servlet.ServletA/configurationParameterA</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>11</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>configuration-parameter-B</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>22</env-entry-value>
    </env-entry>

</web-app>
