<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>ServletExample</servlet-name>
        <servlet-class>com.novaordis.playground.jee.servlet.basicauth.ServletExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletExample</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <security-constraint>

        <web-resource-collection>
            <web-resource-name>Secure Content</web-resource-name>
            <url-pattern>/secure/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>test-role</role-name>
        </auth-constraint>

        <user-data-constraint>
            <!--
                  Values: NONE, INTEGRAL, CONFIDENTIAL
            -->
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <!--
               Values: BASIC, DIGEST, FORM, CLIENT-CERT
        -->
        <auth-method>BASIC</auth-method>
        <realm-name>Test Authentication Realm</realm-name> <!-- optional, only useful for BASIC, DIGEST -->
    </login-config>

    <security-role>
        <role-name>test-role</role-name>
    </security-role>

</web-app>
