<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>io.novaordis.playground.jee.servlet.session.SessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure Content</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Smoke Authentication Realm</realm-name>
    </login-config>

    <security-role>
        <role-name>admin</role-name>
    </security-role>
    -->

    <!--
        In order to enable session replication, uncomment this and configure the correct
        Infinispan cache container/cache name in jboss-web.xml - or in the server configuration.
        More details here:
        https://kb.novaordis.com/index.php/HTTP_Session_Replication#WildFly-Specific_Configuration
    -->
    <!--
    <distributable/>
    -->

</web-app>